.btnCart{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    width: 6rem;
    background-color: #036d03;
    color: white;
}

.btnCart:hover{
    background-color: white;
    color: #036d03;
}
