.modalContainer{
    display: flex;
    flex-direction: column;
    width: 80vw;
    position: fixed;
    top: 2rem;
    background-color: white;
    color: black;
    z-index: 10;
    left: 50%;
    transform: translateX(-50%);
    padding: 1rem;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.modalContainer .iconClose{
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    font-size: 30px;
    color: red;
}

.cartTable{
    width: 100%;
    table-layout: fixed;
}

.cartTable thead th{
    border: 1px solid black;
    justify-content: baseline;
    text-align: left;
}

td{
    padding: .2rem;
}

.tdSub{
    text-align: right;
}
